h2 {
    font-size: 9vh;
}

.gris {
    
}

.candieImg img {
    height: 200px;
    width: 100%;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.form-control {
    float: none; /* Added */
    margin-bottom: 10vh; /* Added */
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.card-img-top{
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

#candylog {
    margin: 0 auto; /* Added */
    float: none; /* Added */
}

.container {
    background-image: url(http://www.mobilopix.com/_data/i/upload/2014/12/02/20141202134727-ed29bf4b-me.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h2 {
    color: white;
}

