.photoprofil{
	width: 60%;
	margin-top: 10%;
	margin-bottom: 3%;
	margin-left: 20%; /* Added */
	margin-right: 50%; /* Added */
	
}

.container-fluid {
	margin: 0; 
	margin-top: 2%;
	margin-bottom: 2%;
	text-align: center;
	overflow: hidden;
}
.name {
	width: 100%;
	margin-bottom: 10%; 
	text-align: center;
}

.photobomb {
	width: 150px;
	height: 150px;
}

.card {
	margin: 0 auto; /* Added */
	margin-bottom: 10px; /* Added */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.align {
	text-align: center;
	margin: 0 auto; /* Added */

}