<div class="container-fluid">
	<div class="row">

		<div class="col-12">
			<div *ngFor="let vitrine of Users; let i = index">

				<div class="card col-xs-3 col-sm-3 col-lg-3" style="border-radius: 20px">
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<img class="photoprofil rounded-circle shadow-lg p-3 mb-5 bg-white rounded" src="{{ vitrine.profile.photo }}">

							<h3 class="name"><strong>{{ vitrine.profile.firstname }} {{ vitrine.profile.lastname }}</strong></h3>
							
	
						<div id="carouselExampleControls{{i}}" class="carousel slide" data-ride="carousel">
								<div class="carousel-inner">
									<div *ngFor="let bonbon of vitrine.vitrine; let j = index" class="carousel-item" [ngClass]="j == 0 ? 'active' : ''">
										<img class="d-block w-100 imgCar" src="{{bonbon.image}}" alt="First slide">
										<p class="col-10" style="font-size: 0.9em; margin-right: 0"><strong>{{bonbon.name}}</strong></p>
										<p class="col-6" style="padding: 0 auto">{{bonbon.quantity}}</p>										
										<button type="button" class="btn btn-primary center-block bouton" (click)="ajouter(bonbon.image,bonbon.name,bonbon.quantity,i,j)">Get one</button>
									</div>								
								</div>
								<a class="carousel-control-prev" href="#carouselExampleControls{{i}}" role="button" data-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								</a>
								<a class="carousel-control-next" href="#carouselExampleControls{{i}}" role="button" data-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>
							</div>
						</div>						
					</div>
					<a href="https://www.google.fr/maps/place/{{vitrine.profile.adress}}" class="btn btn-warning col-6 text-center"
					 style="margin-bottom: 10px; margin-left:24%; text-align: center;">Hunt down these candies</a>
				</div>
			</div>
		</div>
	</div>
</div>