
<ul *ngFor="let oneCollection of Users[varUser].collection">
  <li>
    NAME :{{ oneCollection.name }}
    QUANTITY {{ oneCollection.quantity }}
    IMAGE <img class="img-fluid col-6" src="{{oneCollection.image }}">
  </li>
</ul>

<div class="container-fluid body">
  <h2 class="text-center">Ma collection</h2>
  <div class="row">
    <ul *ngFor="let oneCollection of Users[varUser].collection">
      <li>

        <div class="card collectionCard" style="width: 18rem;">

          <div class="card-body float-right collectionCardBody">
            <h3>{{ oneCollection.name }} </h3>
            <h4>Quantité : {{ oneCollection.quantity }}</h4>
          </div>

          <img src="{{oneCollection.image }}">


        </div>

      </li>
    </ul>
  </div>
</div>

