<!-- <ul *ngFor="let oneVitrine of Users[varUser].vitrine">
  <li>
    <p>NAME :{{oneVitrine.name}}</p>
    <p>QUANTITY {{oneVitrine.quantity}}</p>
    <p>IMAGE <img class="img-fluid col-6" src="{{oneVitrine.image }}"></p>
  </li>
</ul> -->
<div class="body">
  <div *ngFor="let oneVitrine of Users[varUser].vitrine" class="card" style="width: 18rem; margin-bottom: 10%;">
    <img class="card-img-top" src="{{oneVitrine.image }}" alt="Card image cap" style="height: 18rem; margin-bottom: 10%;">
    <div class="card-body ">
      <h5 class="card-text">{{oneVitrine.name}}</h5>
      <p class="card-text">quantity: {{oneVitrine.quantity}}</p>
    </div>
  </div>
</div>