.container {
  background-image: url(http://www.mobilopix.com/_data/i/upload/2014/12/02/20141202134727-ed29bf4b-me.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 640px;
}
.row {
  margin-bottom: 25px;
  margin-top: 30px;
}
